<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <ul>
            <li v-for="mc in multipleChoice">
                <p>{{mc.question}}</p>
                <p v-for="wrongAnswer in mc.wrongAnswers">
                    {{wrongAnswer}}
                </p>
                p{{{mc.correctAnswer}}}
            </li>
        </ul>   
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'multiple choice',
                multipleChoice: []
            },
            created() {
                fetch('https://api.myjson.com/bins/owerv')
                .then(response => response.json())
                .then(json => {
                    this.multipleChoice = json
                })
            }
        })
        
        function shuffle(arr){
            let output = arr.slice()
            for(let i = 0; i < output.length; i++){
                let randomIndex = randomNumber(output.length)
                let one = output[i]
                let two = output[randomIndex]
                output[i] = two
                output[randomIndex] = one
            }
            return output
        }

        function randomNumber(max){
            return Math.floor(Math.random() * max)
        }

        var mcStructOne = {
            id: 1234,
            question: "A question",
            wrongAnswers: ['wrong one', 'wrong two', 'wrong three'],
            correctAnswer: 'correct answer',
            explanation: 'an explanation'
        }

        var mcStructTwo = {
            id: 1234,
            questions: ["A question.", "Another question."],
            answers: [
                { text: 'wrong one', correct: false},
                { text: 'wrong two', correct: false},
                { text: 'wrong three', correct: false},
                { text: 'correct one', correct: true}
                ],
            explanations: ['An explanation.', 'Another explanation.']
        }
    </script>
</body>
</html>