<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div id="todoApp">
    <ul>
      <li v-for="product in products">
        <input type="number" v-model.number="product.quantity">
        <!-- {{ product.quantity }} -->
        {{ product.name }}
        <span v-if="product.quantity === 0">
          - Out Of Stock -
        </span>
        <button @click="product.quantity ++">+</button>
        <button @click="product.quantity --">-</button>
      </li>
    </ul>
    <h2>
      Total Inventory: {{ totalProducts }}
    </h2>
    <div>
      <input type="text" v-model="newItem.name">
      <input type="number" v-model="newItem.quantity">
      <button @click="addNewItem">Add to inventory</button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>