<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
    <p v-bind:title="message">
      Hover to see title.
    </p>
  </div>

  <div id="app-3">
    <p v-if="yes">Now you see it</p>
    <p v-if="no">Now you don't</p>
  </div>

  <div id="app-4">
    <ol>
      <li v-for="thing in things">
        {{ thing.text }}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">ReverseMessage</button>
  </div>

  <div id="app-6">
    <p>
      {{ message }}
    </p>
    <input v-model="message">
  </div>

  <div id="app-7">
    <ol>
      <todo-item
        v-for="item in thingList"
        v-bind:todo="item"
        v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>

  <div id="app-8">
    <div class="swatch" v-bind:style="{backgroundColor: aColor}">
      {{aColor}}
    </div>
    <div class="swatch" :style="oneStyle">
      {{oneStyle}}
    </div>
    <ul>
      <li v-for="swatch in swatches">
        <div class="swatch" :style="{backgroundColor: swatch.color}">
          {{swatch.color}}
          <div class="compliment" :style="{backgroundColor: swatch.compliment}">
            {{swatch.compliment}}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div id="app-9">
    <button v-on:click="show = !show">
      Toggle
    </button>
    <transition name="fade">
      <p v-if="show">hello</p>
    </transition>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>